body {
  background-color: black; /* Set the background color to black */
  margin: 0; /* Remove default body margins */
  overflow: hidden; /* Prevent scrollbars */
  fontFamily: 'Roboto', sans-serif;
}
